@import "../../variables.scss";

.footer {
  text-align: center;
  margin: auto;
  background-color: $orange;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  font-weight: 700;
  font-size: 1em;
}

.centralizar {
  padding: 2vh;
}

@media (max-width: 600px) {
  .footer {
    position: relative;
    bottom: 0;
  }
}
