<div class="menu">
  <nav>
    <div>
      <button routerLink="" class="botao">
        <fa-icon [icon]="inconHome"></fa-icon>
      </button>
    </div>
    <div>
      <button routerLink="divisao" class="botao">
        <fa-icon [icon]="inconDivision"></fa-icon>
      </button>
    </div>
    <div>
      <button routerLink="multiplicacao" class="botao">
        <fa-icon [icon]="iconMultiplication"></fa-icon>
      </button>
    </div>
    <div>
      <button routerLink="potencia" class="botao">
        <fa-icon [icon]="inconPow"></fa-icon>
      </button>
    </div>
  </nav>
</div>
